	@CHARSET "UTF-8";

	<!-- css 파일 -->
	body{font-family:"나눔고딕";}
	table{margin-top:10px; border-color:"#4FC9DE"; margin-left: auto; margin-right: auto; text-align:center;}
	th{text-align:center; width:30px; height:50px;color:#FFFFFF; border-color:"#4FC9DE"; background-color:#4FC9DE; padding-top:5pt; padding-bottom:5pt;}
	tr{border-color:"#4FC9DE"; padding-top:5pt; padding-bottom:5pt; text-align:center;}
	td{width:100px; height:50;background-color:#CDFFFF;padding-top:5pt; border-color:"#4FC9DE"; padding-bottom:5pt; text-align:center;}
	font{font-weight:bold;}
