	@CHARSET "UTF-8";

	body{font-family:"나눔고딕";}
	a:link{color:#A566FF; text-decoration:none;}
	a:hover{color:#FFB2D9; text-color:#000000;}
	a:active{color:yellow;}
	a:visited{color:#5CD1E5; text-decoration:none;}
	
	table #main{margin-top:10px; border-color:"#4FC9DE"; margin-left: auto; margin-right: auto; text-align:center;}
	th #main{color:#247B8A; border-color:"#4FC9DE"; background-color:#4FC9DE; padding-top:5pt; padding-bottom:5pt; text-align:center;	}
	tr #main{padding-top:5pt; padding-bottom:5pt; text-align:center;}
	td #main{background-color:#CDFFFF;padding-top:5pt; border-color:"#4FC9DE"; padding-bottom:5pt; text-align:center;}
	
